:root {
    --primary-color: #007BFF;
    --background-color: #eee;
    --text-color: brown;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}


h1 {
    border: 2px solid var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease; /* Add a smooth color transition */
}

a:hover {
    color: darken(var(--primary-color), 10%); /* Example: Darken the color on hover */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

label {
    display: block;
    margin-bottom: 10px;  /* Increase margin for labels */
}

input, select {
    padding: 8px;
    margin-bottom: 15px;  /* Increase margin for input and select fields */
    width: 100%;  /* Make input and select fields take up the full width */
    box-sizing: border-box;  /* Include padding and border in the element's total width and height */
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darken(var(--primary-color), 10%);
}
